/* Your existing CSS styles here */

.password-change {
    margin-top: 20px;
}

.password-change label,
.password-change input {
    display: block;
    margin-bottom: 10px;
}

.password-change button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.password-change button:hover {
    background-color: #0056b3;
}
#myImg{
    width: 10%;
    border: 1px solid #111;
    border-radius: 10px;
}
.navbar{
    padding: 10px;
}
.navbar-nav{
    margin-left: 700px;
    font-family: sans-serif;
}
.navbar-light .navbar-brand{
    color: #fff;
    font-family: sans-serif;
}
.navbar-light .navbar-nav .nav-link{
    color: #fff;
    text-decoration: none;
}
.profile-card{
    border: 2px solid #111;
    border-radius: 15px;
    margin-top: 20px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}